<!-- navbar -->
<nav class="navbar navbar-expand-md bg-light p-0 noXBorder navbar_custom text_good_black_little d-none d-md-flex <%if (typeof stick!= 'undefined' && stick==true){%>sticky-top<%}%>">
	<ul class="nav navbar-nav mx-auto">
		<!--
		<li class="nav-item">
			<a class="nav-link" href="<%=consV.host.shop%>"><%=i18n.__("فروشگاه")%></a>
		</li>
		-->
		<li class="nav-item">
			<a class="nav-link" href="#"><%=i18n.__("دانلود")%></a>
		</li>
		<li id="edu" class="nav-item">
			<a class="nav-link" href="#"><%=i18n.__("آموزش")%></a>
		</li>
		<li class="nav-item <% if (active=="encyclopedia"){ %>active<%}%>" style="border-right: 2px groove lightgray">
			<a class="nav-link" href="<%='/' + lang + consV.pages.online_services.home%>"><%=i18n.__("خدمات آنلاین")%></a>
		</li>
		<li class="nav-item <% if (active=="other"){ %>active<%}%>">
			<a class="nav-link" href="<%='/' + lang + consV.pages.other%>"><%=i18n.__("متفرقه")%></a>
		</li>
		<li class="nav-item <% if (active=="genetic"){ %>active<%}%>">
			<a class="nav-link" href="<%='/' + lang + consV.pages.genetic%>"><%=i18n.__("ژنتیک")%></a>
		</li>
		<li class="nav-item <% if (active=="lifestyle"){ %>active<%}%>">
			<a class="nav-link" href="<%='/' + lang + consV.pages.lifestyle%>"><%=i18n.__("سبک زندگی")%></a>
		</li>
		<li class="nav-item <% if (active=="sickness"){ %>active<%}%>">
			<a class="nav-link" href="<%='/' + lang + consV.pages.sickness%>"><%=i18n.__("بیماری ها")%></a>
		</li>
		<li class="nav-item <% if (active=="edible"){ %>active<%}%>">
			<a class="nav-link" href="<%='/' + lang + consV.pages.edible%>"><%=i18n.__("خوراکی ها")%></a>
		</li>
		<li class="nav-item <% if (active=="plants"){ %>active<%}%>">
			<a class="nav-link" href="<%='/' + lang + consV.pages.plants%>"><%=i18n.__("گیاهان")%></a>
		</li>
		<li class="nav-item <% if (active=="fruits"){ %>active<%}%>">
			<a class="nav-link" href="<%='/' + lang + consV.pages.fruits%>"><%=i18n.__("میوه ها")%></a>
		</li>
		<li class="nav-item <% if (active=="medicine"){ %>active"<%}%>">
			<a class="nav-link" href="<%='/' + lang + consV.pages.medicine%>"><%=i18n.__("طب سنتی")%></a>
		</li>
		<li class="nav-item <% if (active=="home"){ %>active<%}%>">
			<a class="nav-link" href="<%='/' + lang%>"><%=i18n.__("خانه")%></a>
		</li>
	</ul>
</nav>
<!-- navber end -->
